/* Match threads */
#siteTable a.title {
 vertical-align: middle;
 line-height: 22px;
}
#siteTable .compressed .title {
 margin-top: 0;
}
#siteTable a.title[href*="/pre_match_thread"],
#siteTable a.title[href*="/prematch_thread"],
#siteTable a.title[href*="/match_thread"],
#siteTable a.title[href*="/matchthread"],
#siteTable a.title[href*="/post_match_thread"],
#siteTable a.title[href*="/postmatch_thread"],
#siteTable a.title[href*="/match_report"],
#siteTable a.title[href*="/league_roundup"],
#siteTable a.title[href*="/league_round_up"] {
 line-height: 26px;
 color: green;
}
#siteTable a.title[href*="/pre_match_thread"]:before,
#siteTable a.title[href*="/prematch_thread"]:before,
#siteTable a.title[href*="/match_thread"]:before,
#siteTable a.title[href*="/matchthread"]:before,
#siteTable a.title[href*="/post_match_thread"]:before,
#siteTable a.title[href*="/postmatch_thread"]:before,
#siteTable a.title[href*="/match_report"]:before,
#siteTable a.title[href*="/league_roundup"]:before,
#siteTable a.title[href*="/league_round_up"]:before {
 content: "";
 display: inline-block;
 width: 24px;
 height: 24px;
 margin-right: 3px;
 background-image: url(%%icons-large%%);
 background-position: 0 -204px;
 background-repeat: no-repeat;
 vertical-align: bottom;
}
#siteTable a.title[href*="/match_thread"]:before,
#siteTable a.title[href*="/matchthread"]:before {
 background-position: 0 0;
}
#siteTable a.title[href*="/pre_match_thread"]:before,
#siteTable a.title[href*="/prematch_thread"]:before {
 background-position: 0 -34px;
}
#siteTable a.title[href*="/post_match_thread"]:before,
#siteTable a.title[href*="/postmatch_thread"]:before {
 background-position: 0 -408px;
}

/* Link flair */
#siteTable .linkflair-modded a.title {
 line-height: 26px;
}
#siteTable .linkflair-modded .linkflairlabel {
 width: 24px;
 height: 24px;
 background-image: url(%%trophy%%);
 background-position: 0 0;
 margin-right: 3px;
}
#siteTable .linkflair-contest a.title {
 color: green;
}
#siteTable .linkflair-contest .linkflairlabel {
 background-image: url(%%trophy%%);
}
#siteTable .linkflair-star .linkflairlabel {
 background-image: url(%%star%%);
}
#siteTable .linkflair-false .linkflairlabel {
 display: none;
 background-image: none;
}
#siteTable .flairselector .linkflairlabel {
 display: inline-block;
}
#siteTable .linkflair-false a.title {
 text-decoration: line-through;
}

/* Submit Page*/
#newlink .infobar {
 background-color: transparent;
 padding: 0;
 font-size: 0;
 border: 0;
}
#newlink .infobar:after {
 background-color: rgb(40, 128, 40);
 color: white!important;
 padding: 10px;
 font-size: 12pt;
 font-weight: bold;
 display: block;
 text-align: center;
 border-radius: 4px;
}

#link-desc:after {
 content: "Please read and understand the submission guidelines before submitting a post";
}

/* Icons */
a[href^="//#"] {
 display: inline-block;
 width: 16px;
 height: 16px;
 line-height: normal;
 background-repeat: no-repeat;
 background-image: url(%%icons%%);
 background-position: -999px -999px;
 vertical-align: middle;
 padding: 0;
 border-width: 0;
 background-color: transparent;
 cursor: default;
}
a[href^="//#"][href$="-big"] {
 width: 24px;
 height: 24px;
 line-height: 24px;
 background-image: url(%%icons-large%%);
}
.comment a[href^="//#"] {
 display: none!important;
}

a[href^="//#ball"]{background-position:0 0}
a[href^="//#clock"]{background-position:0 -34px}
a[href^="//#down"]{background-position:0 -68px}
a[href^="//#flag"]{background-position:0 -102px}
a[href^="//#info"]{background-position:0 -136px}
a[href^="//#net"]{background-position:0 -170px}
a[href^="//#news"]{background-position:0 -204px}
a[href^="//#notes"]{background-position:0 -238px}
a[href^="//#red"]{background-position:0 -272px}
a[href^="//#stream"]{background-position:0 -306px}
a[href^="//#sub"]{background-position:0 -340px}
a[href^="//#up"]{background-position:0 -374px}
a[href^="//#whistle"]{background-position:0 -408px}
a[href^="//#yellow"]{background-position:0 -442px}
.titlebox a[href="//#redditch"] {
 width: 20px;
 height: 20px;
 line-height: 20px;
 background-position: 0 0;
 background-image: url(%%redditch%%);
}

/* Video icon */
.md a[href*="youtube.com/watch"],
.md a[href*="youtu.be/"],
.md a[href*="vimeo.com/"],
.md a[href*="twitvid.com/"],
.md a[href*="/video/"],
.md a[href*="/videok/"],
.md a[href*="/gvideos/"] {
 background-image: url(%%video%%);
 background-repeat: no-repeat;
 background-position: left center;
 padding-left: 20px;
}

/* User area */
#header-bottom-right {
 border-top: 1px solid #5f99cf;
 border-left: 1px solid #5f99cf;
}

/* off-white background */
html, body {
 background-color: #fdfefd;
}
.side, .icon-menu a {
 background-color: transparent;
}
.sidecontentbox, .footer {
 background-color: white;
}

/* Restrict the size of the logo */
#header-img {
 max-width: 400px;
 max-height: 160px;
 width: auto;
 height: auto;
 border: 1px solid black;
 margin-left: 2px;
}

/* Hide deleted comments */
.comment.deleted .usertext.grayed {
 display: none;
}

/* Tables */
.md table {
 border: 2px solid white;
 background-color: white;
 box-shadow: 0 0 5px #ccc;
}
.md th, .md td {
 padding: 2px 1ex;
}
.md th {
 color: black;
 background-color: #eee;
 border-color: #ccc;
}
.md td[align=left],
.md th[align=left] {
 text-align: left;
}
.md td[align=center],
.md th[align=center] {
 text-align: center;
}
.md td[align=right],
.md th[align=right] {
 text-align: right;
}
.md th a {
 color: black;
}

/* Headings */
.md h1, .md h2, .md h3, .md h4 {
 margin: 1em 0;
 font-weight: bold;
}

/* Hide 'Submit a new text post' button */
.side .submit-text {
 display: none;
}

/* Self text */
.link .usertext .md {
 border-color: green;
}

/* Link info box */
.linkinfo {
 border-color: #0fe72c;
 background-color: #e7ffe9;
}
.linkinfo .downvotes {
 color: green;
}

/* About box */
.titlebox {
 border: 1px solid #5fcf99;
 background-color: #effff7;
 padding: 1ex;
 border-radius: 3px;
}
.titlebox form.toggle {
 background-color: transparent;
}
.titlebox a {
 color: green;
}
.titlebox .md a {
 font-weight: bold;
}
.side .titlebox h1.redditname {
 font-size: 3em;
 font-style: italic;
 border-bottom: 1px solid black;
 margin: 0 0 1ex 0;
 background-color: transparent!important;
}
.titlebox h1:before {
 content: "";
 background-image: url(%%soccer-alien%%);
 display: inline-block;
 width: 29px;
 height: 40px;
 margin-right: 4px;
 vertical-align: baseline;
}
.titlebox .usertext-body p {
 margin: 1em 0;
 font-size: inherit;
}
.titlebox .usertext-body p:first-child {
 font-size: larger;
}
.subscribers .number {
 font-style: italic;
}
.subscribers .number:before {
 content: "Attendance: ";
}
.users-online {
 display: inline;
}
.users-online:before {
 display: none;
}
.users-online .number {
 font-style: italic;
 vertical-align: super;
 font-size: smaller;
 color: green;
}
.users-online .number:before {
 content: "(";
}
.users-online .number:after{
 content: ")";
}
.titlebox .word {
 display: none;
}
.titlebox li {
 list-style-type: square;
 line-height: 1.4;
}

.leavemoderator {
 background-color: transparent;
}

/* Twitter feed */
.titlebox a[href="http://twitter.com/redditsoccer"] {
 display: inline-block;
 width: 68px;
 height: 16px;
 background-image: url(%%twitter%%);
 background-position: 0 0;
 text-indent: -9999px;
}

/* TweetPoster */
.comment .author[href$="/user/TweetPoster"]:before {
 display: inline-block !important;
 content: "";
 width: 20px;
 height: 20px;
 display: inline-block;
 background-repeat: no-repeat;
 vertical-align: middle;
 margin-right: 4px;
 background-image: url(%%tweet%%);
}

/* /r/Soccer */
.redditname {
 text-transform: capitalize;
 font-variant: normal;
}
.redditname a:before {
 content: "/r/";
 text-transform: lowercase;
}

/* Spam */
.thing.spam {
 background-color: #fcc;
}

/* Tab */
.pagename a {
 background-color: #fdfefd;
 color: #369;
 padding: 2px 6px 0 6px;
 font-family: inherit;
 font-size: 12px;
}

/* Nesting */
.md blockquote {
 color: #334;
 border-left: 1em solid #ccd;
 padding-left: 1ex;
 margin: 1em 0;
}
.md blockquote blockquote {
 color: #343;
 border-color: #cdc;
}
.md blockquote blockquote blockquote {
 color: #433;
 border-color: #dcc;
}

/* Spacing */
form + .sitetable > .link {
 margin-bottom: 1em;
}
form + .sitetable .rank {
 margin-top: 0;
}
.md ol {
 margin: 1em 3em;
}
.md ul {
 margin: 1em 2em;
}

/* Alien team */
.footer-parent {
 padding-bottom: 80px;
 background-image: url(%%alien-team%%);
 background-repeat: no-repeat;
 background-position: center bottom;
}
.debuginfo {
 display: none;
}

/* Links */
a:link:hover, a:visited:hover,
#siteTable a:hover {
 color: darkred!important;
 background-color: #ffc!important;
 text-decoration: none!important;
}
.fancy-toggle-button a:hover {
 color: white!important;
}
#header-img-a,
.morelink a:hover,
.sidebox a:hover,
#siteTable a[href^="//#"]:hover {
 color: white!important;
 background-color: transparent!important;
}

/* RES tweaks */
.redditname a {
 float: none !important;
}
.expando-button {
 cursor: pointer;
}

/* RES night mode */
.res-nightmode #siteTable a.title[href*="/daily_fan_thread"],
.res-nightmode #siteTable a.title[href*="/match_thread"],
.res-nightmode #siteTable a.title[href*="/matchthread"],
.res-nightmode #siteTable a.title[href*="/pre_match_thread"],
.res-nightmode #siteTable a.title[href*="/prematch_thread"],
.res-nightmode #siteTable a.title[href*="/post_match_thread"],
.res-nightmode #siteTable a.title[href*="/postmatch_thread"],
.res-nightmode #siteTable a.title[href*="/match_report"],
.res-nightmode #siteTable a.title[href*="/league_roundup"],
.res-nightmode #siteTable a.title[href*="/league_round_up"] {
 color: #6c0!important;
}
.res-nightmode .titlebox {
 background-color: #042008;
 border-color: #5fcf99;
}
.res-nightmode .titlebox a {
 color: #5fcf99!important;
}
.res-nightmode .titlebox h1:before {
 display: none;
}
.res-nightmode .titlebox a:hover,
.res-nightmode #siteTable a.title:hover {
 color: darkred!important;
 background-color: #ffc!important;
}
.res-nightmode .fancy-toggle-button a {
 color: white!important;
}
.res-nightmode .comment .flair,
.res-nightmode .linkflairlabel {
 border: 2px solid white!important;
 background-color: white!important;
 outline: 1px solid black;
 margin-top: 2px;
}
.res-nightmode .sidecontentbox, .footer {
 background-color: transparent;
}
.res-nightmode .footer-parent {
 padding-bottom: 0;
 background-image: none;
}
.res-nightmode .titlebox a[href="http://twitter.com/redditsoccer"] {
 background-image: none;
 width: auto;
 text-indent: 0;
}
.res-nightmode .usertext.grayed .usertext-body {
 color: gray;
 background-color: #111!important;
}
.res-nightmode .thing.spam {
 background-color: #854e51!important;
}
.res-nightmode .md #livescores table td {
 color: #ddd;
}
/* Live Scores plugin (night mode) */
.res-nightmode .md #livescores table td.live {
 color: #6c0;
}
.res-nightmode .md #livescores tr:hover td {
 color: #222!important;
}

/* Default CSS for a crest */
.flair, .linkflairlabel {
 display: none; /* Only show crests in comments */
 width: 20px;
 height: 20px;
 line-height: 20px;
 text-indent: 40px;
 overflow: hidden;
 background-image: url(%%s1%%);
 background-color: transparent;
 background-repeat: no-repeat;
 vertical-align: middle;
 padding: 0;
 margin-right: 4px;
 border-width: 0;
 border-radius: 0;
}
.flairtoggle,
.flairtoggle + .tagline,
.flairselector .customizer {
 display: none;
}
.comment .flair, .linkflairlabel {
 display: inline-block;
}
.parent .flair {
 display: none;
}
.flair {
 cursor: help;
}
.collapsed .flair {
 opacity: 0.4
}
.comment .flair-unknown {
 display: none;
 background-position: 0 0;
}
#siteTable_t3_16fue1 .flair-unknown {
 display: inline-block;
}

.flair-s2, .linkflair-s2 .linkflairlabel {
 background-image: url(%%s2%%);
}
.flair-s3, .linkflair-s3 .linkflairlabel {
 background-image: url(%%s3%%);
 width: 40px;
}
.flair-s4, .linkflair-s4 .linkflairlabel {
 background-image: url(%%s4%%);
}
